.product-crud-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .handlers-btn{
    display: flex;
    flex-direction: row;
    padding: 10px;
  }
